<ion-view   view-title="Add Note">
  <ion-content class="bg">
 <!-- <div style="margin-top:80%; margin-left:20%;">
 <h1> Hello World </h1>
 <button class="button icon-left ion-paintbucket" style="margin-top:20%; margin-left:20%;">
</button>
</div> -->
   
   <div color-picker ng-model="colorValueInline" style="margin-top:30%"></div>
<!-- <input color-picker tiny-trigger="true" ng-model="colorValueTinyTrigger">
 --><!-- <div class="sample-container">
				<p class="desc_p">Replacing any HTML element with a cool tiny trigger (click on the little colored square)</p>
				<input color-picker tiny-trigger="true" ng-model="colorValueTinyTrigger">
				<span class="value-wrapper" value=" colorValueTinyTrigger "> </span>

				<pre class="prettyprint">

&lt;input color-picker tiny-trigger=&quot;true&quot; ng-model=&quot;colorValueTinyTrigger&quot;&gt;
				</pre>
			</div> -->

<!-- </div> -->
  </ion-content>
</ion-view>

