<ion-view class="bg">
<div class="item item-trns" style="margin-left:5%; margin-top:-20px; width:100%">
  <label class="item item-trns item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div>
<ion-list style="margin-left:20%">
	

  <button class="button button-full " >
  Note 1
  </button>

  <button class="button button-full button-balanced" >
  Note 2
  </button>

  <button class="button button-full button-positive" >
  Note 3
  </button>
  <button class="button button-full button-assertive" >
  Note 4
  </button>


</ion-list>
<!--  <ion-content>
  <div>
<ion-item>
  <ion-label>Comments</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>

<ion-item>
  <ion-label stacked>Message</ion-label>
  <ion-textarea [(ngModel)]="msg"></ion-textarea>
</ion-item>

<ion-item >
  <ion-label  floating>Description</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>
</div> -->
<!-- <h1>adadad</h1> -->
<!--   <ion-label>Comments</ion-label>
  <ion-textarea></ion-textarea>

<ion-item>
  <ion-label>Comments</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>

<ion-item>
  <ion-label stacked>Message</ion-label>
  <ion-textarea [(ngModel)]="msg"></ion-textarea>
</ion-item>

<ion-item>
  <ion-label floating>Description</ion-label>
  <ion-textarea></ion-textarea>
</ion-item> -->

  
</ion-view>