<ion-view class="bg">
<div class="item item-trns" style="margin-left:5%; margin-top:-20px; width:100%">
  <label class="item item-trns item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div>
<ion-list style="margin-left:20%">
	

<!--   <button class="button button-balanced " style=" margin-left:3%; width:94%; ">
  Note 1
  </button>

  <button class="button button-calm  " style=" margin-left:3%; width:94%; ">
  Note 2
  </button>

  <button class="button button-positive " style=" margin-left:3%; width:94%; ">
  Note 3
  </button>

  <button class="button button-assertive"  style=" margin-left:3%; width:94%; " >
  Note 4
  </button> -->

  <div class="list" style=" margin-left:3%; width:94%;">

  <div class="item item-royal item-divider">
    Candy Bars
  </div>

  <a class="item item-energized " href="#">
    Butterfinger
  </a>

</div>


</ion-list>
<!--  <ion-content>
  <div>
<ion-item>
  <ion-label>Comments</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>

<ion-item>
  <ion-label stacked>Message</ion-label>
  <ion-textarea [(ngModel)]="msg"></ion-textarea>
</ion-item>

<ion-item >
  <ion-label  floating>Description</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>
</div> -->
<!-- <h1>adadad</h1> -->
<!--   <ion-label>Comments</ion-label>
  <ion-textarea></ion-textarea>

<ion-item>
  <ion-label>Comments</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>

<ion-item>
  <ion-label stacked>Message</ion-label>
  <ion-textarea [(ngModel)]="msg"></ion-textarea>
</ion-item>

<ion-item>
  <ion-label floating>Description</ion-label>
  <ion-textarea></ion-textarea>
</ion-item> -->

  
</ion-view>